.dataview-demo {
    width: 100%;
    position: absolute; 
    z-index: 1;
   
}
.dataview-demo .product-name {
    font-size: 1.3rem;
    font-weight: 700;
}

.dataview-demo .product-ingredients {
    margin: 0;
}

.dataview-demo  {
    margin: 0 0 1rem 0;
}

.dataview-demo .product-category-icon {
    vertical-align: middle;
    margin-right: .5rem;
}

.dataview-demo .product-category {
    font-weight: 600;
    vertical-align: middle;
}

.dataview-demo .product-list-item {
    display: flex;
    align-items: center;
    padding: 1rem 1rem 0.5rem 1rem;
    width: 100%;
    
}

.dataview-demo .product-list-item img {
    width: 120px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-right: 2rem;
}

.dataview-demo .product-list-item .product-list-detail {
    flex: 1 1 0;
}

.dataview-demo .product-list-item .product-weight {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: .5rem;
}

.dataview-demo .product-list-item .product-list-action {
    display: flex;
    flex-direction: column;
}

.dataview-demo .product-list-item .p-button {
    margin-bottom: .5rem;
}

.dataview-demo .product-grid-item {
    margin: .5em;
    border: 1px solid #dee2e6;
    padding: 2rem;
    background-color: #ebebeb
}

.dataview-demo .product-grid-item .product-grid-item-top,
    .dataview-demo .product-grid-item .product-grid-item-bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dataview-demo .product-grid-item img {
    width: 200px;
    height: 110px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin: 2rem 0;
}

.dataview-demo .product-grid-item .product-grid-item-content {
    text-align: center;
}

.dataview-demo .product-grid-item .product-weight {
    font-size: 1.2rem;
    font-weight: 600;
}

h1 {
    text-align: center;
    position: relative;
    z-index: 100;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: 600;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

#background {
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute; 
    top: 0px; 
    bottom: 0px; 
    left: 0px; 
    right: 0px; 
}

#editContainer {
    display: flex;
    flex-direction: column;
}

.attributeContainer {
    display: flex;
}

.inputs {
    flex-grow: 1;
}

.labels {
    font-weight: 400;
    font-style: italic;
    margin-left: 20px;
    width: 100px;
}

#errorMessage {
    color: rgb(175, 41, 41);
    text-align: center;
    font-weight: lighter;
    font-size: 1.3rem;
}

#btnShare {
    position: fixed;
    bottom: 10px;
    left: 10px;
} 

#alreadyYourFriend {
    font-style: italic;
    color: green;
    font-size: 1.2em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.prod-expDate, .prod-category {
    margin-top: 10px;
}

.product-expirationDate {
    margin: 0 0 1rem 0.5rem;
}

@media screen and (max-width: 576px) {
    .dataview-demo .product-list-item {
        flex-direction: column;
        align-items: center;
    }

    .dataview-demo .product-list-item img {
        width: 45%;
        margin: 2rem 0;
    }

    .dataview-demo .product-list-item .product-list-detail {
        text-align: center;
    }

    .dataview-demo .product-list-item .product-weight {
        align-self: center;
    }

    .dataview-demo .product-list-item .product-list-action {
        display: flex;
        flex-direction: column;
    
    }

    .dataview-demo .product-list-item .product-list-action {
        margin-top: 2rem;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

   
}